---
import BaseLayout from "../layouts/BaseLayout.astro";
import FooterRedes from "../components/footer-redes.astro";
import MandarinaTemblandoEInstagram from "../components/mandarina-temblando-e-instagram.astro";
import BotonesConContenido from "../components/botones-con-contenido.astro";
---

<BaseLayout>
  <div class="mx-auto max-w-sm px-4">
    <MandarinaTemblandoEInstagram />
    <BotonesConContenido />
    <FooterRedes />
  </div>
</BaseLayout>
