---
import { Image } from "astro:assets";
---

<div>
  <div class="flex justify-center">
    <Image
      class="animate-temblar hover:animate-[temblar_1s_infinite]"
      src="/mandarina.png"
      alt="mandarina"
      width="180"
      height="120"
    />
  </div>
  <div class="text-2xl text-center">@mandarina.extrema</div>
</div>
